.hlv-timeline {
  display: flex;
  align-items: center;
  position: relative;
  height: 26px;
  cursor: pointer;
  padding: 0;
  margin-top: -4px;
  border: none;
  background: none;
  width: 100%;
}

.hlv-timeline-line {
  height: 4px;
  background-color: #bbb;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 2px;
}

.hlv-timeline-ghostline {
  height: 4px;
  background-color: #bbb3;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 2px;
}

.hlv-timeline-knob {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #bbb;
  border-radius: 6px;
  left: 100%;
  margin-left: -6px;
}

.hlv-timeline-ghosttime {
  position: absolute;
  bottom: 36px;
  color: #fff;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 4px 6px;
  display: none;
  transform: translateX(-50%);
  border-radius: 2px;
  pointer-events: none;
}

.hlv-timeline-ghosttime::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;
}

.hlv-timeline:hover .hlv-timeline-knob,
.hlv-timeline:hover .hlv-timeline-line {
  background-color: #fff;
}

.hlv-timeline:hover .hlv-timeline-ghosttime {
  display: block;
}
