.hlv {
    width:100%;
    height:100%;
}
.hlv > .unset-wrapper {
    all:initial;
}
.hlv > .unset-wrapper > .style-wrapper {
    position:relative;
    font-family:Roboto,Arial,Helvetica,sans-serif;
    color:#fff;
    width:100%;
    height:100%;
}
.hlv .screen {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:10;
}
.hlv .title {
    display:none;
    z-index:20;
    position:absolute;
    top:16px;
    left:0;
    padding:10px;
    padding-left:20px;
    color:#fff;
    background:rgba(0,0,0,0.4);
    font-size:14pt;
    opacity:0;
    transition:opacity 0.2s;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.hlv .controls {
    z-index:30;
    position:absolute;
    width:100%;
    bottom:0;
    padding:0 16px;
    box-sizing:border-box;
    background:rgba(0,0,0,0.4);
    opacity:0;
    transition:opacity 0.2s;
}
.hlv .progress {
    position:relative;
    height:14px;
    cursor:pointer;
    margin:0;
    border-radius:0;
    overflow:initial;
    background:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.hlv .progress .time {
    display:none;
    position:absolute;
    bottom:20px;
    padding:5px;
    margin-left:-2px;
    transform:translate(-50%, 0);
    font-size:10pt;
    background:rgba(0,0,0,0.4);
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
}
.hlv .progress .ghost-line {
    height:4px;
    background:rgba(255,255,255,0.5);
    top:8px;
    position:absolute;
    left:0;
    right:0;
    border-radius:2px;
}
.hlv .progress .line {
    height:4px;
    background:#fff;
    top:8px;
    position:absolute;
    left:0;
    right:0;
    border-radius:2px;
}
.hlv .progress .knob {
    position:absolute;
    width:12px;
    height:12px;
    background:#fff;
    border-radius:6px;
    left:0;
    top:4px;
    margin-left:-6px;
}
.hlv .progress .ghost-knob {
    position:absolute;
    width:8px;
    height:8px;
    background:#fff;
    box-sizing:border-box;
    border-radius:8px;
    left:0;
    top:6px;
    margin-left:-4px;
    display:none;
}
.hlv .settings-menu {
    position:absolute;
    right:14px;
    bottom:68px;
    display:none;
    list-style:none;
    margin:0;
    padding:2px 6px;
    background:rgba(0,0,0,0.4);
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    min-width:100px;
}
.hlv .settings-menu > .mode {
    padding:6px 4px;
    margin-bottom:6px;
    border-bottom:1px solid #ddd;
    font-size:10pt;
    font-weight:bold;
}
.hlv .settings-item.replay-mode {
    margin-top:4px;
    padding:4px;
    font-size:10pt;
    cursor:pointer;
}
.hlv .settings-item.free-mode {
    margin:4px 0;
    padding:4px;
    font-size:10pt;
    cursor:pointer;
}
.hlv .settings-item.active {
    background:rgba(255,255,255,0.2);
}
.hlv .buttons {
    display:flex;
    justify-content:space-between;
    padding:0 4px;
}
.hlv .left-buttons {
    height:40px;
    padding:4px 0;
    display:flex;
    box-sizing:border-box;
}
.hlv .left-buttons .time {
    font-size:10pt;
    display:flex;
    align-items:center;
    user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
}
.hlv .time-divider {
    margin:0 6px;
}
.hlv .volume {
    position:relative;
    display:flex;
}
.hlv .volume > .button {
    width:32px;
    height:32px;
    padding:2px;
    cursor:pointer;
    background:none;
    border:none;
    outline:none;
    color:#fff;
}
.hlv .volume > .bar {
    position:relative;
    width:80px;
    margin-left:6px;
    margin-right:14px;
    cursor:pointer;
}
.hlv .volume > .bar > .ghost-line {
    height:4px;
    background:rgba(255,255,255,0.5);
    top:13px;
    position:absolute;
    left:0;
    right:0;
    border-radius:2px;
}
.hlv .volume > .bar > .line {
    height:4px;
    background:#fff;
    top:13px;
    position:absolute;
    left:0;
    right:0;
    border-radius:2px;
}
.hlv .volume > .bar > .knob {
    position:absolute;
    width:12px;
    height:12px;
    background:#fff;
    border-radius:6px;
    left:100%;
    top:9px;
    margin-left:-6px;
}
.hlv .volume > .bar > .ghost-knob {
    position:absolute;
    width:8px;
    height:8px;
    background:#fff;
    box-sizing:border-box;
    border-radius:8px;
    left:0;
    top:11px;
    margin-left:-4px;
    display:none;
}
.hlv .left-buttons > .button {
    box-sizing:border-box;
    width:32px;
    height:32px;
    padding:7px;
    margin-right:8px;
    cursor:pointer;
    background:none;
    border:none;
    outline:none;
    color:#fff;
}
.hlv .speeddown.button svg {
    transform:rotate(180deg);
}
.hlv .right-buttons {
    height:40px;
    padding:4px 0;
    box-sizing:border-box;
    display:flex;
}
.hlv .settings.button {
    width:32px;
    height:32px;
    padding:6px;
    cursor:pointer;
    margin-right:8px;
    background:none;
    border:none;
    outline:none;
    color:#fff;
}
.hlv .fullscreen.button {
    width:32px;
    height:32px;
    padding:6px;
    cursor:pointer;
    background:none;
    border:none;
    outline:none;
    color:#fff;
}
.hlv .loading {
    position:relative;
    width:100%;
    height:100%;
    z-index:20;
    transition:opacity 2s ease;
}
.hlv .loading .spinner {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.hlv .loading .log {
    position:absolute;
    background: rgba(0,0,0,0.4);
    padding:10px;
    font-family:monospace;
    margin:0;
    top:16px;
    right:0;
    padding-left:16px;
    list-style:none;
}
.hlv .loading .log > li {
    display:block;
}