.hlv {
  position: relative;
  color: white;
  width: 100%;
  height: 100%;
  cursor: none;
  user-select: none;
}

.hlv.hlv--visible {
  cursor: default;
}

.hlv__title {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 20;
  padding: 10px 10px 10px 20px;
  background-color: rgba(0,0,0,0.4);
  font-size: 13pt;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  opacity: 0;
  transition: opacity 0.2s;
}

.hlv__title--visible {
  opacity: 1;
}

.hlv__screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.hlv__controls {
  z-index: 30;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  user-select: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.hlv__controls--visible {
  opacity: 1;
}

.controls__buttons {
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  align-items: center;
}

.controls__left {
  display: flex;
  align-items: center;

  & .button {
    margin-right: 8px;
  }
}

.controls__right {
  display: flex;
  align-items: center;
  width: 70px;
  height: 100%;
  justify-content: space-between;
}

.controls__button {
  cursor: pointer;
}

.hlv__button {
  width: 32px;
  height: 32px;
  padding: 7px;
  box-sizing: border-box;
  cursor: pointer;
}
